<div class="panel panel-info">
    <div class="panel-heading">
        <h3>برادر عزیز جناب آقای @User.Identity.GetUserDisplayName()</h3>
        <h4>تشخیص هویت شما با موفقیت انجام شد!</h4>
    </div>
</div>