@model PersonPaymentViewModel
@{
    ViewData["Title"] = "ویرایش حساب بانکی";
    Layout = "_EditLayout";
}
<script type="text/javascript">
    function OnSuccess(response) {
        if (response === "Success") {
            swal({
                position: 'center',
                type: 'success',
                title: 'اطلاعات با موفقیت ویرایش شد',
                showConfirmButton: false,
                target: document.getElementById('rtl-container'),
                timer: 2500
            });
            setTimeout("parent.jQuery.fancybox.close()", 2000);
        } else {
            swal({
                position: 'center',
                type: 'error',
                title: 'لطفاً خطاهای اتفاق افتاده را بررسی نمایید',
                showConfirmButton: false,
                target: document.getElementById('rtl-container'),
                timer: 2500
            });
        }
    }
</script>

<div class="k-rtl">
    <div class="col-md-12">
        <form asp-action="Edit" data-ajax="true" data-ajax-method="POST" data-ajax-success="OnSuccess">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input asp-for="PersonId" type="hidden" value="@Context.Request.Query["personId"]" />
            <div class="row">
                <div class="col-xs-3">
                    <div class="form-group">
                        <label asp-for="AccountNumber" class="control-label"></label>
                        <input asp-for="AccountNumber" class="form-control" />
                        <span asp-validation-for="AccountNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="form-group">
                        <label asp-for="ShabaNumber" class="control-label"></label>
                        <input asp-for="ShabaNumber" class="form-control" />
                        <span asp-validation-for="ShabaNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="form-group">
                        <label asp-for="CardNumber" class="control-label"></label>
                        <input asp-for="CardNumber" class="form-control" />
                        <span asp-validation-for="CardNumber" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="ثبت" class="btn btn-primary" />
                <a class="btn btn-danger" href="javascript:parent.jQuery.fancybox.close();" style="cursor: pointer; text-decoration: none; ">بستن</a>
            </div>
        </form>
    </div>
</div>
