<div class="panel panel-default top30">
    <div class="panel-heading">
        <h3 class="panel-title">با تشکر!</h3>
    </div>
    <div class="panel-body">
        عرض سلام و ادب و احترام انشاالله به زودی توسط راه اندازی سامانه پیام کوتاه این قسمت فعال می گردد
        و کد امنیتی جهت تأیید شماره تلفن همراه شما برایتان ارسال می گردد. 
    </div>
</div>