@{
    ViewData["Title"] = "تائید کلمه‌ی عبور فراموش شده";
}

<div class="panel panel-default top30">
    <div class="panel-heading">
        <h3 class="panel-title">@ViewData["Title"]</h3>
    </div>
    <div class="panel-body">
        عرض سلام و ادب و احترام انشاالله به زودی توسط راه اندازی سامانه پیام کوتاه این قسمت فعال می گردد
    </div>
    <input type="hidden" name="Code" value="@ViewData["Code"]" />
</div>