@{
    ViewData["Title"] = "خانه";
}
<div class="alert alert-success top30">
    <a href="#" class="close" data-dismiss="alert">×</a>
    جهت سلامتی و تعجیل در فرج حضرت حجت ارواحنا له الفداه صلوات
</div>
<div class="k-rtl">
    @(Html.Kendo().Calendar()
                          .Name("PersianCalendar")
                          .Value(DateTime.Now)
    )
</div>
@section Scripts{
    @if (null != TempData["alertMessage"])
    {
        <script type="text/javascript">
            swal({
                position: 'center',
                type: 'success',
                title: '@TempData["alertMessage"]',
                showConfirmButton: false,
                target: document.getElementById('rtl-container'),
                timer: 2500
            })
        </script>
    }
}