@model PersonMarriageViewModel
<div class="row k-rtl">
    <div class="col-md-12">
        <form asp-action="Create" data-ajax="true" data-ajax-method="POST" data-ajax-success="OnSuccess">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="PersonId" type="hidden" value="@Context.Request.Query["personId"]" />
            
            <div class="row">
                <div class="col-xs-3">
                    <div class="form-group">
                        <label asp-for="MarriageDivorce" class="control-label"></label>
                        <select asp-for="MarriageDivorce" asp-items="Html.GetEnumSelectList<MarriageDivorce>()" class="form-control">
                            <option disabled selected>--- انتخاب ---</option>
                        </select>
                        <span asp-validation-for="MarriageDivorce" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="form-group">
                        <label asp-for="IncidentDate" class="control-label"></label>
                        <kendo-datepicker name="IncidentDate" format="yyyy/MM/dd" style="width: 100%; direction: rtl" />
                        <span asp-validation-for="IncidentDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="form-group">
                        <label asp-for="OfficeNumber" class="control-label"></label>
                        <input asp-for="OfficeNumber" class="form-control" />
                        <span asp-validation-for="OfficeNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="form-group">
                        <label asp-for="RegisterNumber" class="control-label"></label>
                        <input asp-for="RegisterNumber" class="form-control" />
                        <span asp-validation-for="RegisterNumber" class="text-danger"></span>
                    </div>
                </div>

            </div>
            <div class="form-group">
                <input type="submit" value="ثبت" class="btn btn-primary" />
                <a class="btn btn-danger" href="javascript:parent.jQuery.fancybox.close();" style="cursor: pointer; text-decoration: none; ">بستن</a>
            </div>
        </form>
    </div>
</div>